<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/estils.css">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="indexdb.js"></script>
    <div id="app">
    </div>
    <script>

        const error = {
            data: function () {
                return {
                    url: window.location.hash
                };
            },
            template: `
          <div>
          <p>URL no encaminada : {{ url }} </p>
          </div>
        `
        };
        const principal = {
            template: `
        <p>Benvinguts a Vue.js</p>`
        };

        const sudoku2 = {
            template: `<sudoku2></sudoku2>`
        };

        const sudoku3 = {
            template: `<sudoku3></sudoku3>`
        };

        Vue.component('menuInicial', {
            props: {
                data: {
                    type: Object
                }
            },
            template: `
          <div>
          <template v-for="(option, index) in data.radiosDynamicOptions">
            <input v-model="data.radiosDynamic" type="radio" v-bind:value="option.value" v-bind:id="option.value"/>
            <label v-bind:for="option.value">{{ option.label }}</label>
            <br v-if="index < data.radiosDynamicOptions.length">
          </template>

          <strong>Radios:</strong> {{ data.radiosDynamic }}
          <a v-bind:href="data.radiosDynamic"
             v-on:click="this.$parent.navegar">
             Principal
          </a>
          <div v-bind:is="this.$parent.vistaActual"></div>
          </div>

        `
        });


        Vue.component('sudoku2', {
            data: function () {
                return {
                    dadesPartida: { 'nomJugador': '', 'temps': 0, },
                    victoria: false,
                    derrota: false,
                    comptador: 0,
                    comptadadorPartida: setInterval(() => {
                        this.comptador++
                    }, 1000),
                    sudoku:
                    {
                        resolt: [[7,3,1,5,6,9,4,2,8],[5,2,9,8,1,4,7,3,6],[6,4,8,3,2,7,5,1,9],[2,8,4,1,7,6,9,5,3],[1,9,5,4,3,8,6,7,2],[3,6,7,2,9,5,8,4,1],[4,1,6,7,8,3,2,9,5],[8,5,3,9,4,2,1,6,7],[9,7,2,6,5,1,3,8,4]],
                        noresolt: [[7,0,1,0,0,9,0,2,0],[0,0,9,0,0,0,0,0,6],[0,4,0,0,2,0,5,1,0],[0,0,0,0,0,6,9,0,3],[0,0,5,0,0,8,0,0,0],[0,0,0,0,9,0,8,4,1],[0,0,6,7,0,3,0,0,0],[8,5,0,0,0,0,0,0,0],[0,0,0,0,5,0,3,0,0]]
                    }

                }
            },

            template: `
          <transition name="slide-fade" appear>
              <section>
              <span id="temporitzador">{{ comptador }}</span>
              <table id="taulell">
              </table>
              <button v-on:click="comprobarResultat">Comprobar resultat</button>
              <button v-on:click="autoCompletar">Botón hack</button>
              <transition name="slide-fade" appear>
                <h1 v-if="victoria">Has guanyat</h1>
              </transition>
              <transition name="slide-fade">
                <h1 v-if="derrota">Has perdut</h1>
              </transition>
              </section>
          </transition>
        `, methods: {
                crearCelles: function () {
                    let n = 1;
                    for (let i = 0; i < 9; i++) {
                        fila = document.createElement('tr');
                        fila.setAttribute("id", i);
                        document.getElementById('taulell').appendChild(fila);
                        for (let j = 0; j < 9; j++) {
                            cella = document.createElement('td');
                            cella.setAttribute("id", i + '-' + j);
                            document.getElementById(i).appendChild(cella);
                            numero = document.createElement('input');
                            numero.setAttribute("id", 'numero' + n);
                            numero.setAttribute('maxlength', '1');
                            if (this.sudoku.noresolt[i][j] != 0) {
                                numero.setAttribute("value", this.sudoku.noresolt[i][j]);
                                numero.setAttribute("readonly", "");
                                numero.classList.add("numeroNegreta");
                            }
                            document.getElementById(i + '-' + j).appendChild(numero);
                            n++;
                        }
                    }
                }, comprobarResultat() {
                    let n = 1;
                    let encerts = 0;
                    let faltenCelles = false;
                    for (let i = 0; i < 9; i++) {
                        for (let j = 0; j < 9; j++) {
                            if (document.getElementById('numero' + n).value.length == 0) {
                                faltenCelles = true
                            }

                            if (document.getElementById('numero' + n).value == this.sudoku.resolt[i][j]) {
                                console.log('correcte');
                                document.getElementById(i + '-' + j).classList.remove('incorrecte');
                                document.getElementById('numero' + n).classList.remove('incorrecte');
                                document.getElementById(i + '-' + j).classList.add('correcte');
                                document.getElementById('numero' + n).classList.add('correcte');
                                encerts++;

                            } else {
                                console.log('incorrecte');
                                document.getElementById(i + '-' + j).classList.remove('correcte');
                                document.getElementById('numero' + n).classList.remove('correcte');
                                document.getElementById(i + '-' + j).classList.add('incorrecte');
                                document.getElementById('numero' + n).classList.add('incorrecte');
                            }
                            n++;
                        }
                    }
                    if (faltenCelles) {
                        alert("Omple totes les celles");
                    } else {
                        if (encerts == 81) {
                            clearInterval(this.comptadadorPartida);
                            this.victoria = true;
                            setTimeout(() => {
                                let jugador = prompt("Enhorabona. Introdueix el teu nom");
                                this.dadesPartida.nomJugador = jugador;
                                this.dadesPartida.temps = this.comptador;
                                if (localStorage.getItem("sudoku2") === null) {
                                    localStorage.sudoku2 = JSON.stringify([this.dadesPartida]);
                                } else {
                                    let puntuacions = JSON.parse(localStorage.getItem('sudoku2'));
                                    puntuacions.push(this.dadesPartida);
                                    localStorage.sudoku2 = JSON.stringify(puntuacions);
                                }
                            }, 3000)
                        } else {
                            this.derrota = true;
                        }
                    }
                },
                autoCompletar() {
                    let numero2 = 1;
                    for (let i = 0; i < 9; i++) {
                        for (let j = 0; j < 9; j++) {
                            document.getElementById('numero' + numero2).setAttribute('value', this.sudoku.resolt[i][j]);
                            numero2++;
                        }
                    }
                },
            },
            mounted() {
                console.log(this.sudoku);
                this.crearCelles();
            }
        });

        Vue.component('sudoku3', {
            data: function () {
                return {
                    dadesPartida: { 'nomJugador': '', 'temps': 0, },
                    victoria: false,
                    derrota: false,
                    comptador: 0,
                    comptadadorPartida: setInterval(() => {
                        this.comptador++
                    }, 1000),
                    sudoku:
                    {
                        resolt: [[6,7,5,8,1,3,9,4,2],[3,9,1,4,7,2,8,5,6],[8,4,2,6,5,9,1,7,3],[1,6,8,9,4,7,2,3,5],[9,2,3,5,8,6,4,1,7],[4,5,7,2,3,1,6,9,8],[2,1,4,3,6,5,7,8,9],[5,8,9,7,2,4,3,6,1],[7,3,6,1,9,8,5,2,4]],
                        noresolt: [[0,0,5,0,0,0,0,4,0],[0,0,0,4,7,0,0,0,6],[8,0,2,0,0,0,1,0,0],[1,0,0,0,0,0,2,0,0],[0,0,3,0,0,6,0,0,0],[0,5,7,0,3,0,0,0,0],[0,1,0,0,6,5,0,8,0],[0,0,0,0,0,0,3,0,0],[0,0,0,1,9,0,5,0,0]]
                    }

                }
            },

            template: `
          <transition name="slide-fade" appear>
              <section>
              <span id="temporitzador">{{ comptador }}</span>
              <table id="taulell">
              </table>
              <button v-on:click="comprobarResultat">Comprobar resultat</button>
              <button v-on:click="autoCompletar">Botón hack</button>
              <transition name="slide-fade" appear>
                <h1 v-if="victoria">Has guanyat</h1>
              </transition>
              <transition name="slide-fade">
                <h1 v-if="derrota">Has perdut</h1>
              </transition>
              </section>
          </transition>
        `, methods: {
                crearCelles: function () {
                    let n = 1;
                    for (let i = 0; i < 9; i++) {
                        fila = document.createElement('tr');
                        fila.setAttribute("id", i);
                        document.getElementById('taulell').appendChild(fila);
                        for (let j = 0; j < 9; j++) {
                            cella = document.createElement('td');
                            cella.setAttribute("id", i + '-' + j);
                            document.getElementById(i).appendChild(cella);
                            numero = document.createElement('input');
                            numero.setAttribute("id", 'numero' + n);
                            numero.setAttribute('maxlength', '1');
                            if (this.sudoku.noresolt[i][j] != 0) {
                                numero.setAttribute("value", this.sudoku.noresolt[i][j]);
                                numero.setAttribute("readonly", "");
                                numero.classList.add("numeroNegreta");
                            }
                            document.getElementById(i + '-' + j).appendChild(numero);
                            n++;
                        }
                    }
                }, comprobarResultat() {
                    let n = 1;
                    let encerts = 0;
                    let faltenCelles = false;
                    for (let i = 0; i < 9; i++) {
                        for (let j = 0; j < 9; j++) {
                            if (document.getElementById('numero' + n).value.length == 0) {
                                faltenCelles = true
                            }

                            if (document.getElementById('numero' + n).value == this.sudoku.resolt[i][j]) {
                                console.log('correcte');
                                document.getElementById(i + '-' + j).classList.remove('incorrecte');
                                document.getElementById('numero' + n).classList.remove('incorrecte');
                                document.getElementById(i + '-' + j).classList.add('correcte');
                                document.getElementById('numero' + n).classList.add('correcte');
                                encerts++;

                            } else {
                                console.log('incorrecte');
                                document.getElementById(i + '-' + j).classList.remove('correcte');
                                document.getElementById('numero' + n).classList.remove('correcte');
                                document.getElementById(i + '-' + j).classList.add('incorrecte');
                                document.getElementById('numero' + n).classList.add('incorrecte');
                            }
                            n++;
                        }
                    }
                    if (faltenCelles) {
                        alert("Omple totes les celles");
                    } else {
                        if (encerts == 81) {
                            clearInterval(this.comptadadorPartida);
                            this.victoria = true;
                            setTimeout(() => {
                                let jugador = prompt("Enhorabona. Introdueix el teu nom");
                                this.dadesPartida.nomJugador = jugador;
                                this.dadesPartida.temps = this.comptador;
                                if (localStorage.getItem("sudoku3") === null) {
                                    localStorage.sudoku3 = JSON.stringify([this.dadesPartida]);
                                } else {
                                    let puntuacions = JSON.parse(localStorage.getItem('sudoku3'));
                                    puntuacions.push(this.dadesPartida);
                                    localStorage.sudoku3 = JSON.stringify(puntuacions);
                                }
                            }, 3000)
                        } else {
                            this.derrota = true;
                        }
                    }
                },
                autoCompletar() {
                    let numero2 = 1;
                    for (let i = 0; i < 9; i++) {
                        for (let j = 0; j < 9; j++) {
                            document.getElementById('numero' + numero2).setAttribute('value', this.sudoku.resolt[i][j]);
                            numero2++;
                        }
                    }
                },
            },
            mounted() {
                console.log(this.sudoku);
                this.crearCelles();
            }
        });

        let app = new Vue({
            el: '#app',
            data() {

                /*const sudoku2 = {
                    template: `
                <p>Benvinguts a sdsdsdsd.js</p>`
                };*/
                //let otro = ;

                return {
                    inputs: {
                        radiosDynamicOptions: [
                            {
                                label: 'sudoku1',
                                value: '#/'
                            },
                            {
                                label: 'sudoku2',
                                value: '#/sudoku2'
                            },
                            {
                                label: 'sudoku3',
                                value: '#/sudoku3'
                            }
                        ]
                    },
                    rutaActual: window.location.hash,
                    rutes: {
                        '#/': principal,
                        '#/sudoku2': sudoku2,
                        '#/sudoku3': sudoku3,
                    },
                    ejemplo: {
                        text: "gola",
                    }
                }
            },
            methods: {
                navegar: function ($event) {
                    this.rutaActual = $event.target.hash;
                },
                initDb: function () {
                    accesDB.then(
                        async function (value) {
                            let variable = await obtenerTitulo()
                            console.log("estado " + app._data.inputs.radiosDynamicOptions.length);
                            const longitud = app._data.inputs.radiosDynamicOptions.length;
                            for (let i = 0; i < longitud; i++) {
                                app._data.inputs.radiosDynamicOptions[i].label = variable[i];
                            }
                        }
                        ,
                        function (error) {
                            console.log("Algo salio mal")
                        }
                    );
                },

                renderOtro: function () {
                    return
                }
            },
            beforeMount() {
                console.log('2dsds');
                this.initDb();
            },
            computed: {
                vistaActual: function () {
                    return this.rutes[this.rutaActual] || error;
                },

            },
            template: `
          <div>
          <h4>Sudoku VUEjs</h4>
          <menuInicial :data="inputs"></menuInicial>
          </div>`
        });

    </script>
</body>

</html>